@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

.text {
  /* @apply font-bold; */
  color: white;
}

.card-container {
  height: 98%;
  width: 49%;
}

.card {
  @apply border-4 rounded hover:cursor-pointer  flex justify-center items-center;
  border-color: #ffd1f5;
  background: radial-gradient(
    circle,
    rgba(255, 209, 245, 1) 0%,
    rgba(120, 176, 242, 1) 100%
  );
  position: relative;
  transition: all 0.1s ease;
}

.card:hover:not(.card.disabled, .card.selected) {
  transform: scale(1.05);
  border-color: #c792bb;
  z-index: 2;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card.selected {
  border-color: #efc6ff;
  cursor: default;
}

.card > img {
  @apply object-cover;
}

.body {
  @apply flex items-center bg-slate-200 w-screen h-screen justify-evenly;
  background-image: url("/assets/pics/bg_pc.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0.3rem;
}

body {
  overflow: hidden;
}

/* card back */
.card .back {
  width: 50%;
  height: auto;
  transition: all ease-in 0.15s;
  transition-delay: 0.15s;
}

.selected .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

/* card front */

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.15s;
  position: absolute;
  width: 90%;
  height: auto;
}

.selected .front {
  transform: rotateY(0deg);
  transition-delay: 0.15s;
}

.card.disabled {
  @apply hover:cursor-default;
  background: radial-gradient(
    circle,
    rgba(188, 251, 190, 1) 0%,
    rgba(120, 176, 242, 1) 100%
  );
  border-color: #c68cdb;
}

.card.disabled .front {
  transform: rotateY(0deg);
}

.card.disabled .back {
  transform: rotateY(90deg);
}

.btn {
  /* @apply border rounded px-5 py-2 m-auto; */
  padding: 0.8em calc(5% + clamp(28px, 4vw, 38px) + 1%);
  border: 3px solid #fcfcfc;
  border-radius: 9999px;
  text-align: center;
  background: linear-gradient(0deg, #111341, #222681);
  font-weight: bold;
  color: #fcfcfc;
  font-size: clamp(22px, 4vw, 30px);
  line-height: 1.2em;
  letter-spacing: 0.1em;
  overflow: hidden;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  transition: all 0.1s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(1);
}

.logo {
  transition: all 0.1s ease;
}

.logo div img {
  margin: auto;
}

.logo:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.box {
  text-align: center;
  padding: 0.8em calc(5% + clamp(28px, 4vw, 38px) + 1%);
  border: 3px solid #fcfcfc;
  background: linear-gradient(
    0deg,
    rgba(254, 155, 255, 1) 0%,
    rgba(120, 243, 255, 1) 100%
  );
  font-weight: bold;
  color: #fcfcfc;
  font-size: clamp(22px, 4vw, 30px);
  line-height: 1.2em;
  letter-spacing: 0.1em;
  overflow: hidden;
}

.logo-alt {
  display: none;
}

.label {
  font-weight: bold;
  color: #fcfcfc;
  font-size: clamp(22px, 4vw, 30px);
  line-height: 1.2em;
  letter-spacing: 0.05em;
  margin-bottom: -2rem;
}

/* media */
@media (max-width: 1324px) {
  .logo {
    display: none;
  }
  .logo-alt {
    display: block;
  }
  .card-container {
    width: 60%;
  }
  .card .front {
    width: 80%;
    height: auto;
  }
  .label {
    margin-bottom: -0.5rem;
  }
}

@media (max-width: 875px) {
  .card-container {
    width: 100%;
  }
  .label {
    margin-bottom: -0.5rem;
  }
}

@media (max-width: 695px) {
  .body {
    display: block;
    background-image: url("/assets/pics/bg_sp.webp");
  }
  body {
    overflow: visible;
  }
  .card-container {
    width: 100%;
  }
  .text {
    color: black;
  }
  .label {
    color: #111341;
  }
}

@media (min-width: 2560px) {
  .btn {
    transform: scale(1.5);
  }
  .box {
    transform: scale(1.5);
  }
  .logo {
    width: 25%;
  }
  .logo img {
    transform: scale(1.5);
  }
}

.done {
  color: #7800ff;
}
