@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply w-[170px] h-[170px] border-4 rounded hover:cursor-pointer  flex justify-center items-center;
  /* border-color: #ffd1f5; */
  border-color: #ffd1f5;
  background: radial-gradient(
    circle,
    rgba(255, 209, 245, 1) 0%,
    rgba(120, 176, 242, 1) 100%
  );
  position: relative;
  transition: all 0.1s ease;
}

.card:hover:not(.card.disabled, .card.selected) {
  transform: scale(1.05);
  border-color: #c792bb;
  z-index: 2;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card.selected {
  border-color: #efc6ff;
}

.card > img {
  @apply object-cover;
}

.body {
  @apply flex items-center bg-slate-200 w-screen h-screen justify-evenly;
  background-image: url("/assets/pics/bg_pc.webp");
}

body {
  overflow: hidden;
}

/* card back */
.card .back {
  width: 100px;
  height: auto;
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.selected .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

/* card front */

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
  width: 100%;
}

.selected .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card.disabled {
  @apply hover:cursor-default;
  background: radial-gradient(
    circle,
    rgba(188, 251, 190, 1) 0%,
    rgba(120, 176, 242, 1) 100%
  );
  border-color: #c68cdb;
}

.card.disabled .front {
  transform: rotateY(0deg);
}

.card.disabled .back {
  display: none;
}

.btn {
  /* @apply border rounded px-5 py-2 m-auto; */
  padding: 0.8em calc(5% + clamp(28px, 4vw, 38px) + 1%);
  margin: 0 auto;
  border: 3px solid #fcfcfc;
  border-radius: 9999px;
  text-align: center;
  background: linear-gradient(0deg, #111341, #222681);
  font-weight: bold;
  color: #fcfcfc;
  font-size: clamp(22px, 4vw, 30px);
  line-height: 1.2em;
  letter-spacing: 0.1em;
  overflow: hidden;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  transition: all 0.1s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.logo {
  transition: all 0.1s ease;
}

.logo:hover {
  transform: scale(1.05);
  cursor: pointer;
}
